@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <!--<input type="file" accept="image/*" capture="camera" />-->
        <button class="scannow" asp-action="Room" asp-controller="Room" asp-route-name="A3-13">Scan Tag Now</button>
    </form>
</div>
