@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <!--<input type="file" accept="image/*" capture="camera" />-->
        <button class="scannow">Scan Tag Now</button>
    </form>
</div>
