@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Scan now!!!</p>
    <form>
        <input type="file" accept="image/*" capture="camera" />
        <button>Scan</button>
    </form>
</div>
