/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height:100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.hideTr{
    display:none;
}

.container img {
    max-width:600px;
    width:100%;
    margin:0 auto;
    padding:10px;
}
.headercolor {
    background:#3C5C8D;
}

.scannow {
    width: 300px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-weight: bold;
    vertical-align: middle;
    background: #3C5C8D;
    font-size:200%;
    border-radius:30px;
}
.container {
    background-color: #3C5C8D;
    height:100%;
}
.pb-3 {
    background:#fff;
    width:90%;
    margin:0 auto;
    padding:20px;
}