@model string
@{
    ViewData["Title"] = "AccessDenied";
}
<!--
    Page displayed when a user without specific privileges attemps to access a more restricted page.
    Only users with role "Professor" may see this page.
-->
<h2>Access Denied</h2>
<br />
<br />
<h3 class="text-center">Looks like you don't have the permission to be here</h3>
<p class="text-center">If you want to continue please log in as an <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model">administrator</a> o go <a href="javascript:history.go(-1)">back</a></p>
