<a class="nav-link text-white" asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i> Home</a>
<a asp-controller="Room" asp-action="RoomList" class="nav-link text-white"><i class="fas fa-list"></i> Room List</a>
<a class="nav-link text-white glyphicon glyphicon-log-in"
   asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
