@model Appointment

<a class="btn btn-info"
   asp-action="RepeatAppointment"
   asp-controller="AppointmentCRUD"
   asp-route-code="@Model.RoomCode"
   asp-route-id="@Model.Id"
   asp-route-start="@Model.Start.ToString("MM-dd-yyyy H:mm")"
   asp-route-end="@Model.End.ToString("MM-dd-yyyy H:mm")">
    Repeat
</a>