@model CreateUserViewModel

<form asp-controller="Admin" asp-action="ChangePasswordAdmin" method="post">

    <partial name="UserPasswordInputPartial" for="@Model" />

    <div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
    <partial name="ChangePasswordFieldsPartial" for="@Model"/>
</form>
<br />

