@model CreateUserViewModel

<form asp-controller="Admin" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <div><span asp-validation-for="OldPassword" class="text-danger validation-summary-errors" data-valmsg-for="OldPassword"></span></div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control" />
    </div>
    <partial name="UserPasswordInputPartial" for="@Model" />

    <div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
    <input asp-for="ReturnUrl" type="hidden" />
    <input asp-for="Id" type="hidden" />
    <input asp-for="Editing" type="hidden" />
    <input asp-for="Role" type="hidden" />
    <input asp-for="UserName" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <input asp-for="PhoneNumber" type="hidden" />
    <input asp-for="FirstName" type="hidden" />
    <input asp-for="LastName" type="hidden" />
</form>
<br />
