<form asp-controller="Room" asp-action="SearchList"
      asp-route-page="1" asp-route-searchString="" method="get">
    <input name="SearchString" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>
