@model CreateUserViewModel
@*
    User fields for user registration
    Includes password and repeatPass
*@
<div class="form-group">
    <div><span asp-validation-for="Password" class="text-danger validation-summary-errors"></span></div>
    <label asp-for="Password">@(ViewBag.Title == "Edit User" ? "New Password" : "Password")</label>
    <input asp-for="Password" class="form-control" />
</div>
<div class="form-group">
    <div><span asp-validation-for="RepeatPass" class="text-danger validation-summary-errors"></span></div>
    <label asp-for="RepeatPass"></label>
    <input asp-for="RepeatPass" class="form-control" />
</div>
