@model Appointment
@{
    ViewData["Title"] = "Add Appointment";
}

<h1>Add Appointment on @Model.Start.Date.ToShortDateString()</h1>
<div asp-validation-summary="All" class="text-danger validation-summary-errors"></div>
<form asp-action="AddAppointment" asp-controller="AppointmentCRUD" method="post">

    <partial name="AppointmentFieldsPartial" for="@Model" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button asp-action="RedirectToAppointmentList" asp-controller="Appointment"
                asp-route-id="@Model.RoomId"
                asp-route-date="@Model.Start.Date.ToString("MM-dd-yyyy")">
            Cancel
        </button>
    </div>
</form>

